<section class="block container block-domain">
  <header class="block__header">
    <h2>Custom Design Your Betting Line</h2>
    <p>
      Search through teams, players and seasons to get an automatic performance
      analysis reflecting the current numbers
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter team name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#china-structure"></use>
      </svg>
      Let's Go!!
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">MacDavid</span></li>
    <li>Foo #15</li>
    <li>Matthew</li>
    <li>Crosby</li>
    <li>Yip #87</li>
    <li>Gallagher</li>
  </ul>
</section>
