<section class="block block--dark block--skewed--right block-showcase">
  <header class="block__header">
    <h2>Explore Real-Time Simulations</h2>
  </header>
  <div class="container grid grid--1x2 feature">
    <picture class="block-showcase__image">
      <source
        type="image/jpeg"
        srcset="images/map@1x.jpeg 1x, images/map@2x.jpeg 2x" />
      <img class="feature__image" src="images/map@2x.jpeg" alt=""
    /></picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#china-structure"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Research and Development</h3>
            <p>
              Take your betting game to the next level with a no holds barred 6
              year Doctorate Degree in Computer Engineering.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#panda"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Autonomous Weapons Testing</h3>
            <p>
              With AI driven performance tools, players are selected, identified
              and targeted through non human intervention.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#china-flag"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Assymetric Engagement & More</h3>
            <p>
              Utilize the three warfares to legally delegitimize and demoralize
              your adversary.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
