<section class="block">
  <header class="block__header">
    <h2>But Don't Just Take Our Word For It</h2>
    <p>We let our 1.4 billion customers do the talking for us</p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="images/mao@1x.png" alt="A happy, smiling customer" />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#panda"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            We should go to the masses and learn from them, synthesize their
            experience into better, articulated principles and methods, then do
            propaganda among the masses, and call upon them to put these
            principles and methods into practice so as to solve their problems
            and help them achieve liberation and happiness.
          </p>
          <!--- reuse media component --->
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">Moe Mangione</h3>
                <p class="quote__organization">Penis Mightier Incorporated</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
